body{
    margin: 0;
    padding: 0;
    background: url(dollar.jpg);
    background-position: center;
    font-family: sans-serif;
}

.login-register{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position:absolute;
    top: -50px;
    left: calc(50% - 50px);
    }

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-register p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-register input{
    width: 100%;
    margin-bottom: 20px;
}

.login-register input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-register input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(179, 48, 48);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
}

.login-register input[type="submit"]:hover{
    cursor: pointer;
    background: #cea426;
    color:#000;
}

.login-register a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rosybrown;
}

.login-register a:hover{
    color: yellow;
}

header.Administrator{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: block;
    box-sizing: border-box;
    padding: 0.5em 0.5em 0.5em ;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    font-family: serif;
    width: 100%;
}

#UserHeader
{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: block;
    box-sizing: border-box;
    padding: 0.5em 0.5em;
    font-weight: bold;
}

#Informatii,#Informatii p
{
    display: inline-block;
    padding-bottom: -0.5em;
    margin-left: 1.5em;
}

.divMare{
    display: block;
    width: 43%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 3em 1em;
}

.impartire
{
    position: relative;
}

.impartire p
{
    position: relative;
    display: inline-block;
}

.impartire p p
{
    display: inline;
    text-align: right;
    margin-right: 30px;
}


.impartire p input[type="text"]{
    position: absolute;
    display: inline;
}

.impartire
{
    position: relative;
}

#UserMenu
{
    display: block;
    width: 40%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    top: 50%;
    right: -10%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 1em 2em 2.5em 2em;
    border: 1px solid gray;
}

fieldset#Valute
{
    display: block;
    width: 20%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    top: 50%;
    left: 15%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding-bottom: 2em;
}

fieldset#Schimb
{
    background: rgba(0, 0, 0, 0.9);
}

fieldset#InfoUser
{
    background: rgba(0, 0, 0, 0.9);
    height: 7em;
}

fieldset#InfoUser label
{
    position: absolute;
}

.Administrator label,#Valute label
{
    position: absolute;
}

#Schimb label{
    position: absolute;
}

#Schimb input[type="text"]
{
    margin-left: 6em;
    margin-bottom: 1em;
}

#Schimb select
{
    margin-left: 20em;
    margin-bottom: 1em;
}

#Update
{
    background: rgba(0, 0, 0, 0.9);
}

.Administrator input[type="text"],#Valute input[type="text"]
{
    margin-left: 14.8em;
    margin-bottom: 1em;
}

#Schimb input[type="submit"]
{
    border: none;
    outline: none;
    height: 1.5em;
    background: rgb(179, 48, 48);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
}

#Update input[type="submit"]
{
    border: none;
    outline: none;
    height: 1.5em;
    background: rgb(179, 48, 48);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
    margin-top: 0.5em;
}

.Administrator input[type="submit"],#Valute input[type="submit"]
{
    border: none;
    outline: none;
    height: 1.5em;
    background: rgb(179, 48, 48);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
    margin-left: 2em;
}

fieldset input[type="submit"]:hover
{
    cursor: pointer;
    background: #cea426;
    color:#000;
}

#imagini
{
    display: inline-block;
}

header input[type="image"]
{
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

#ButonFinal
{
    display: inline-block;
    position: absolute;
    margin-top: 0.3em;
    left: 50%;
    border: none;
    outline: none;
    height: 1.5em;
    background: rgb(179, 48, 48);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
}

header input[type="submit"]
{
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 0.8em;
    border: none;
    outline: none;
    height: 1.5em;
    background: rgb(179, 48, 48);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
}

header input[type="submit"]:hover
{
    cursor: pointer;
    background: #cea426;
    color:#000;
}

footer
{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0.5em 0.5em 0.5em ;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    font-family: serif;
    bottom: 0;
}

@media only screen and (max-width: 1052px)
{
    header{
        display: block;
    }

    #Schimb input[type="text"]
    {
        margin-left: 0;
        width: 100%;
    }

    #Schimb label
    {
        position: relative;
    }

    #Schimb select
    {
        margin-left: 0;
    }

    #Valute label
    {
        position: relative;
    }

    .Administrator label
    {
        position: relative;
    }

    .Administrator input[type="text"]
    {
        width: 100%;
        margin-left: 0;
    }

    header
    {
        width: 100%;
    }

    .divMare
    {
        padding-top: 1em;
        padding-bottom: 1em;
        width: 75%;
        margin-top: 30%;
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 800px)
{
    #UserMenu
    {
        margin-top: 25%;
    }

    footer{
        bottom: -25%;
    }
}

@media only screen and (min-width: 100px) and (max-width: 299px)
{
    #UserMenu
    {
        width: 50%;
        margin-top: 70%;
    }

    .Administrator label
    {
        position: relative;
    }

    .Administrator input[type="text"]
    {
        width: 100%;
        margin-left: 0;
    }

    header
    {
        width: 100%;
    }

    .divMare
    {
        padding-top: 1em;
        padding-bottom: 1em;
        width: 75%;
        margin-top: 30%;
        margin-bottom: 10%;
    }

    footer{
        bottom: -20%;
    }

    #valute{
        margin-top: 100%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 399px)
{
    #UserMenu
    {
        margin-top: 70%;
    }

    .Administrator label
    {
        position: relative;
    }

    .Administrator input[type="text"]
    {
        width: 100%;
        margin-left: 0;
    }

    header
    {
        width: 100%;
    }

    .divMare
    {
        padding-top: 1em;
        padding-bottom: 1em;
        width: 75%;
        margin-top: 30%;
        margin-bottom: 10%;
    }

    footer{
        bottom: -58%;
    }

    #valute{
        margin-top: 100%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 499px)
{
    .divMare{
        margin-top: 10%;
    }

    #UserMenu{
        margin-top: 50%;
    }

    footer{
        bottom: -35%;
    }
}

@media only screen and (max-width: 699px) and (min-width: 600px)
{
    #UserMenu
    {
        margin-top: 45% !important;
    }

    #Valute{
        margin-top: 30%;
    }

    footer{
        bottom: -120% !important;
    }
    
    .divMare{
        margin-top: 3% !important;
    }
}

@media only screen and (min-width: 700px) and (max-width: 799px)
{
    .divMare{
        margin-top: 0;
    }
}

@media only screen and (orientation: landscape) and (max-width:900px)
{
    #UserMenu
    {
        margin-top: 30%;
    }

    #Valute{
        margin-top: 30%;
    }

    footer{
        bottom: -100%;
    }

    .divMare{
        margin-top: 30%;
    }

    .login-register{
        margin-top: 20%;
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 1000px) and (orientation: portrait)
{
    .divMare{
        margin-top: 5% !important;
    }
}

@media only screen and (min-width: 1000px) and (orientation: landscape)
{
    .divMare{
        margin-top: 5% !important;
    }
}